.header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;


  &__logo {
    margin-right: 40px;
    h1 {
      a {
        font-size: 40px;
        line-height: 1;
      }
    }
  }

  &__nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
  }
}